.ct-team-select-box {
    width: 100%;
}
.ct-team-select-box .ant-select-selector {
    width: 100% !important;
}
.ct-team-select-box .ant-select-selector .ant-select-selection-overflow {
    width: 100% !important;
}
.ct-team-select-box .ant-select-selector .ant-select-selection-overflow .ant-select-selection-overflow-item-suffix {
    width: 100% !important;
}
.ct-team-select-box .ant-select-selector .ant-select-selection-overflow .ant-select-selection-overflow-item-suffix .ant-select-selection-search {
    width: 100% !important;
}
.ct-team-select-box .ant-select-selector .ant-select-selection-overflow .ant-select-selection-overflow-item-suffix .ant-select-selection-search input {
    width: 100%;
    word-wrap: break-word;
}

.ct-team-row .ant-table-cell {
    padding: 10px;
}

.ct-team-select-box-mobile .ant-select-selector {
    height: 40px;
}

.ct-team-select-box-mobile .ant-select-selector .ant-select-selection-overflow .ant-select-selection-overflow-item .ant-tag {
    height: 36px;
}

.ct-team-select-box-mobile .ant-select-selector .ant-select-selection-overflow .ant-select-selection-overflow-item .ant-select-selection-overflow-item-suffix .ant-select-selection-search .ant-select-selection-search-input {
    height: 0px;
}

.ct-team-drawer .ant-drawer-content-wrapper .ant-drawer-content {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.ct-mobile-team-header {
    height: 5px;
    background: gray;
    width: 100px;
    margin-top: 8px;
    margin-left: 108px;
    border-radius: 20px;
}

.ct-mobile-team-divider {
    margin-top: 10px;
    margin-bottom: 20px;
}

.ct-team-drawer .ant-drawer-content-wrapper .ant-drawer-content .ant-drawer-wrapper-body .ant-drawer-body {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.ct-mobile-team-divider-bottom {
    margin: 20px 0;
}

.ct-team-drawer .ant-drawer-content-wrapper {
    height: 335px;
}