.pricing-discount-section {
    border: 0.4px solid #B8D4FE;
    border-radius: 75px;
    background-color: #E5F0FF;
    padding: 4px 8px 4px 8px;
    color: #347AE2;
    font-weight: 500;
    line-height: 14.52px;
}

.pricing-error-discount-section {
    border: 0.4px solid #FF0000;
    border-radius: 75px;
    background-color: #FF0000;
    padding: 4px 8px 4px 8px;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 14.52px;
}

.pricing-solid-btn {
    background-color: #347AE2;
    border: 1px solid #347AE2;
    border-radius: 87px;
    padding: 8px 20px 8px 20px;
    color: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.pricing-cancel-btn {
    background-color: white;
    border: 1px solid #347AE2;
    border-radius: 87px;
    padding: 8px 20px 8px 20px;
    color: #347AE2;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.ct-avatar-square {
    background-color: #E5F0FF;
    border-radius: 8px;
}

.ct-plan-detail-divider {
    border-top: 0.6px solid #B8D4FE;
    height: 1px;
}

.ct-pricing-cards {
    border-radius: 8px;
    box-shadow: 1px 1px 3px #B8D4FE;
    width: 100%;
    max-width: 100%;
}

.ct-pricing-cards .ant-card-body {
    padding: 12px 16px 12px 16px;
    width: 100%;
    display: flex;
    align-items: center;
}

.ct-pricing-cards-container {
    margin-top: 1.9rem;
}