.ct-active-plan-container {
    background-color: #3DAC74;
}

.ct-active-border-color {
    border-color: #3DAC74;
}

.ct-cancel-plan-container {
    background-color: #FF5A5F;
}

.ct-cancel-border-color {
    border-color: #FF5A5F;
}