.ct-image-modal-btn {
    background-color: #1890ff !important;
}

.ct-img-col {
    height: 125px;
    max-height: 125px;
    text-align: center;
}

.ct-row-border {
    border: 0.4px solid #ABB7C9;
    border-radius: 5px;
}

.ct-img-wrapper {
    height: 100%;
}

.ct-img {
    height: 100%;
}

.ct-selected-thumbnail {
    border: 2px solid #1890ff;
}

.ct-button-contents {
    display: contents;
}

.ct-img-scale-down {
    object-fit: scale-down;
}