.ct-collection-short-desc {
    line-height: 28px;
    margin-top: 0.92em;
    font-size: 1rem;
    letter-spacing: 0;
    margin-bottom: 24px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}